@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
    font-family:'DotGothic16', sans-serif;
    scroll-behavior: smooth;
    --text-color: rgb(0,0,0);    
    --background-color: rgb(50,206,211);
    --border-color: grey;
    color: var(--text-color);
}

* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;  
}

p::first-letter {
    font-size: 2rem;
}

.container {
    max-width: 900px;
    margin: auto;
}